@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff'),
    url('../fonts/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto-Regular', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    margin: 63px 0 50px;
}

.header__logo {
    margin-bottom: 40px;
}

.header__logo__link {
    color: #000000;
    font-size: 80px;
    line-height: 94px;
}

.header__logo__link span {
    color: #4BCAFF;
}

.nav {
    background: #35444F;
}

.nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list__item {
    border-right: 1px solid #FFFFFF;
}

.nav__list__item:first-child {
    border-left: 1px solid #FFFFFF;
}

.nav__list__item__link {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    padding: 21px 35px;
    display: block;
}

.nav__list__item:hover {
    background: #222F3A;
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main__sidebar {
    border: 1px solid #000000;
    margin-right: 52px;
    height: fit-content;
}

.main__sidebar__list__item {
    padding: 25px 79px 25px 39px;
}

.main__sidebar__list__item__link {
    color: #485863;
    font-size: 27px;
    line-height: 27px;
}

.main__sidebar__list__item:hover {
    background: #DBDBDB;
    padding-left: 50px;
}

.main__sidebar__list__item:hover .main__sidebar__list__item__link {
    color: #35444F;
}
.main__content {
    max-width: 885px;
}
.main__content__banner {
    padding: 75px 282px;
    border: 1px solid #000000;
    margin-bottom: 37px;
    overflow: hidden;
}
.main__content__banner img {
    transition: transform 0.5s;
}
.main__content__banner:hover img {
    transform: scale(1.2);
}
.main__content__text__inner {
    margin-bottom: 34px;
    color: #2C2C2C;
    font-size: 18px;
    line-height: 24px;
}
.footer__wrapper {
    background: rgba(99, 105, 110, 0.48);
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrapper__menu {
    display: flex;
}
.footer__wrapper__menu__item {
    margin-right: 30px;
}
.footer__wrapper__menu__item:last-child {
    margin-right: 0;
}
.footer__wrapper__menu__item__link {
    color: #0C1927;
    font-size: 28px;
    line-height: 28px;
    padding-bottom: 13px;
}

.footer__wrapper__menu__item__link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;;
}

.footer__wrapper__copy {
    color: #010101;
    font-size: 24px;
    line-height: 24px;
}
